@import "../../variables.scss";
.log-in-section {
  height: 100vh;
  @media (max-width: $mobile-width-1) {
    height: unset;
    min-height: 100vh;
    margin-top: 10vh;
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    display: flex;
    gap: 5vw;
    @media (max-width: $mobile-width-1) {
      flex-direction: column;
      width: 100%;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-right: 4.9vw;
    border-right: 2px solid $white;
    @media (max-width: $mobile-width-1) {
      border: none;
      border-bottom: 2px solid $white;
      padding: 0 0 3vh;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 5vh;
      @media (max-width: $mobile-width-1) {
        flex-direction: row;
        justify-content: space-between;
        gap: 3vw;
      }
    }
    h1 {
      font-size: 4vw;
      @media (max-width: $mobile-width-1) {
        font-size: 10vw;
      }
    }
    button {
      font-size: 1.2vw;
      font-weight: 600;
      padding: 2vh 2vw;
      @media (max-width: $mobile-width-1) {
        font-size: 3vw;
        width: 100%;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vh;
    padding: 10vh 3vw;
    width: 34vw;
    background: $white;
    color: $black;
    @media (max-width: $mobile-width-1) {
      width: 100%;
      padding: 4vh 6vw;
    }
    .form-group {
      width: 100%;
    }
    label {
      display: block;
      font-weight: 600;
      font-size: 1.2vw;
      @media (max-width: $mobile-width-1) {
        font-size: 3vw;
      }
    }
    input {
      background: $grey;
      border: none;
      margin-top: 2vh;
      height: 7vh;
      width: 100%;
      font-size: 1.6vw;
      padding: 0 1vw;
      @media (max-width: $mobile-width-1) {
        font-size: 4.5vw;
        padding: 0 2vw;
      }
    }
    button {
      background: $black;
      color: $white;
      padding: 2vh 2vw;
      align-self: stretch;
      font-size: 1.5vw;
      font-weight: 600;
      margin-top: 2vh;
      transition: all 0.3s ease-out;
      &:hover {
        box-shadow: $drop-shadow;
      }
      @media (max-width: $mobile-width-1) {
        font-size: 3vw;
      }
    }
    p {
      font-size: 1.3vw;
      a {
        color: blue;
      }
      @media (max-width: $mobile-width-1) {
        font-size: 3vw;
      }
    }
  }
}
.google {
  background-color: #e94235 !important;
}
.amazon {
  background-color: #ed9618 !important;
}
.facebook {
  background-color: #4867aa !important;
}
